<div *ngIf="product" class="card" style="width: 15rem;">
    <img [src]="product.image" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.price | currency:'INR':true}}</p>

    </div>
    <div class="card-footer">
        <button *ngIf="getQuantity() ===0;else updateQuantity" class="btn btn-primary btn-block" (click)="addToCart()">Add To Cart</button>
        <ng-template #updateQuantity>
          <product-quantity [product] ="product" [shopping-cart]="shoppingCart"></product-quantity>
        </ng-template>
    </div>
</div>